In [2]:
print('hi')

hi

In [3]:
import os
with os.scandir('D:\\DS_Data Driven Stock Analysis\\stock_data') as entries:
    items = []
    for entry in entries:
        if entry.is_dir():
            item_dict = {
                'name': entry.name,
                'path': entry.path,
                'is_file': entry.is_file(),
                'is_dir': entry.is_dir()
            }
            items.append(item_dict)

print(items)

[{'name': '2023-10', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2023-10', 'is_file': False, 'is_dir': True}, {'name': '2023-11', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2023-11', 'is_file': False, 'is_dir': True}, {'name': '2023-12', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2023-12', 'is_file': False, 'is_dir': True}, {'name': '2024-01', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-01', 'is_file': False, 'is_dir': True}, {'name': '2024-02', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-02', 'is_file': False, 'is_dir': True}, {'name': '2024-03', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-03', 'is_file': False, 'is_dir': True}, {'name': '2024-04', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-04', 'is_file': False, 'is_dir': True}, {'name': '2024-05', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-05', 'is_file': False, 'is_dir': True}, {'name': '2024-06', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-06', 'is_file': False, 'is_dir': True}, {'name': '2024-07', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-07', 'is_file': False, 'is_dir': True}, {'name': '2024-08', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-08', 'is_file': False, 'is_dir': True}, {'name': '2024-09', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-09', 'is_file': False, 'is_dir': True}, {'name': '2024-10', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-10', 'is_file': False, 'is_dir': True}, {'name': '2024-11', 'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-11', 'is_file': False, 'is_dir': True}]

In [ ]:
import pandas as pd

year = 2024
month = 12

dates = pd.date_range(start=f'{year}-{month:02d}-01', 
                      end=f'{year}-{month:02d}-{pd.Period(f"{year}-{month:02d}").days_in_month}')
print(dates.tolist())

In [ ]:
import calendar
from datetime import datetime


def getDates(month,year):
    num_days = calendar.monthrange(year, month)[1]
    dates = [datetime(year, month, day).strftime('%Y-%m-%d') for day in range(1, num_days + 1)]
    return dates

getDates(2,2024)

In [6]:
import os
def getFolders(path):
    items = []
    with os.scandir(path) as entries:
        for entry in entries:
            if entry.is_dir():
                item_dict = {
                    'name': entry.name,
                    'path': entry.path,
                    'is_file': entry.is_file(),
                    'is_dir': entry.is_dir()
                }
                items.append(item_dict)
    return items

def getFiles(path):
    items = []
    with os.scandir(path) as entries:
        for entry in entries:
            if entry.is_file():
                _, ext = os.path.splitext(entry.name)
                item_dict = {
                    'name': entry.name,
                    'path': entry.path,
                    'type': (ext[1:]).strip() # File extension without dot
                }
                items.append(item_dict)
    return items
getFolders('D:\\DS_Data Driven Stock Analysis\\stock_data')

[{'name': '2023-10',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2023-10',
  'is_file': False,
  'is_dir': True},
 {'name': '2023-11',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2023-11',
  'is_file': False,
  'is_dir': True},
 {'name': '2023-12',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2023-12',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-01',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-01',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-02',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-02',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-03',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-03',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-04',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-04',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-05',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-05',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-06',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-06',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-07',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-07',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-08',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-08',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-09',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-09',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-10',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-10',
  'is_file': False,
  'is_dir': True},
 {'name': '2024-11',
  'path': 'D:\\DS_Data Driven Stock Analysis\\stock_data\\2024-11',
  'is_file': False,
  'is_dir': True}]

In [7]:
data_folders=getFolders('D:\\DS_Data Driven Stock Analysis\\stock_data')
for i in data_folders:
    print(i['path'])

D:\DS_Data Driven Stock Analysis\stock_data\2023-10
D:\DS_Data Driven Stock Analysis\stock_data\2023-11
D:\DS_Data Driven Stock Analysis\stock_data\2023-12
D:\DS_Data Driven Stock Analysis\stock_data\2024-01
D:\DS_Data Driven Stock Analysis\stock_data\2024-02
D:\DS_Data Driven Stock Analysis\stock_data\2024-03
D:\DS_Data Driven Stock Analysis\stock_data\2024-04
D:\DS_Data Driven Stock Analysis\stock_data\2024-05
D:\DS_Data Driven Stock Analysis\stock_data\2024-06
D:\DS_Data Driven Stock Analysis\stock_data\2024-07
D:\DS_Data Driven Stock Analysis\stock_data\2024-08
D:\DS_Data Driven Stock Analysis\stock_data\2024-09
D:\DS_Data Driven Stock Analysis\stock_data\2024-10
D:\DS_Data Driven Stock Analysis\stock_data\2024-11

In [8]:
import yaml
import pandas as pd

data_files=getFiles(r'D:\DS_Data Driven Stock Analysis\stock_data\2023-10')

with open(data_files[0]['path'],'r') as file:
    data=yaml.safe_load(file)
df=pd.DataFrame(data)
print(df)

        Ticker     close                 date      high       low    month  \
0         SBIN    602.95  2023-10-03 05:30:00    604.90    589.60  2023-10
1   BAJFINANCE   7967.60  2023-10-03 05:30:00   7975.50   7755.00  2023-10
2        TITAN   3196.25  2023-10-03 05:30:00   3212.50   3114.40  2023-10
3          ITC    439.75  2023-10-03 05:30:00    442.90    439.25  2023-10
4          TCS   3513.85  2023-10-03 05:30:00   3534.20   3480.10  2023-10
5           LT   3073.25  2023-10-03 05:30:00   3077.45   2995.10  2023-10
6   TATACONSUM    861.20  2023-10-03 05:30:00    868.75    853.49  2023-10
7     RELIANCE   1159.08  2023-10-03 05:30:00   1167.80   1158.00  2023-10
8      HCLTECH   1238.70  2023-10-03 05:30:00   1256.70   1222.70  2023-10
9     JSWSTEEL    770.25  2023-10-03 05:30:00    776.55    768.00  2023-10
10  ULTRACEMCO   8304.90  2023-10-03 05:30:00   8377.00   8221.20  2023-10
11   POWERGRID    199.55  2023-10-03 05:30:00    200.00    196.90  2023-10
12        INFY   1434.00  2023-10-03 05:30:00   1437.00   1420.30  2023-10
13       TRENT   2059.10  2023-10-03 05:30:00   2086.30   2052.00  2023-10
14  BHARTIARTL    925.30  2023-10-03 05:30:00    928.25    916.05  2023-10
15  TATAMOTORS    620.45  2023-10-03 05:30:00    632.65    618.60  2023-10
16       WIPRO    405.45  2023-10-03 05:30:00    408.10    403.60  2023-10
17       TECHM   1216.20  2023-10-03 05:30:00   1230.70   1212.55  2023-10
18        NTPC    241.20  2023-10-03 05:30:00    246.70    240.55  2023-10
19  HINDUNILVR   2468.90  2023-10-03 05:30:00   2499.00   2461.80  2023-10
20  APOLLOHOSP   5118.95  2023-10-03 05:30:00   5154.95   5066.00  2023-10
21         M&M   1537.40  2023-10-03 05:30:00   1598.00   1533.05  2023-10
22      GRASIM   1913.84  2023-10-03 05:30:00   1931.32   1899.10  2023-10
23   ICICIBANK    940.30  2023-10-03 05:30:00    951.60    939.00  2023-10
24    ADANIENT   2387.25  2023-10-03 05:30:00   2424.90   2372.00  2023-10
25  ADANIPORTS    831.40  2023-10-03 05:30:00    836.75    824.25  2023-10
26         BEL    139.20  2023-10-03 05:30:00    140.60    137.20  2023-10
27  BAJAJFINSV   1561.05  2023-10-03 05:30:00   1564.20   1527.00  2023-10
28   EICHERMOT   3351.40  2023-10-03 05:30:00   3434.95   3302.90  2023-10
29   COALINDIA    291.90  2023-10-03 05:30:00    297.10    290.10  2023-10
30      MARUTI  10346.90  2023-10-03 05:30:00  10709.80  10303.30  2023-10
31  INDUSINDBK   1435.40  2023-10-03 05:30:00   1438.40   1420.00  2023-10
32  ASIANPAINT   3166.85  2023-10-03 05:30:00   3227.80   3162.00  2023-10
33   TATASTEEL    128.00  2023-10-03 05:30:00    129.10    127.25  2023-10
34    HDFCLIFE    633.55  2023-10-03 05:30:00    637.50    628.55  2023-10
35     DRREDDY   1092.34  2023-10-03 05:30:00   1117.38   1090.00  2023-10
36   SUNPHARMA   1141.45  2023-10-03 05:30:00   1161.95   1139.25  2023-10
37   KOTAKBANK   1727.05  2023-10-03 05:30:00   1735.00   1715.45  2023-10
38  SHRIRAMFIN   1921.95  2023-10-03 05:30:00   1939.90   1881.00  2023-10
39   NESTLEIND   2231.52  2023-10-03 05:30:00   2259.47   2225.52  2023-10
40        ONGC    184.60  2023-10-03 05:30:00    189.30    183.65  2023-10
41       CIPLA   1182.80  2023-10-03 05:30:00   1185.70   1170.95  2023-10
42        BPCL    170.68  2023-10-03 05:30:00    174.60    170.43  2023-10
43   BRITANNIA   4495.45  2023-10-03 05:30:00   4553.25   4486.60  2023-10
44     SBILIFE   1292.45  2023-10-03 05:30:00   1302.15   1282.65  2023-10
45    HINDALCO    479.95  2023-10-03 05:30:00    484.55    476.60  2023-10
46  HEROMOTOCO   3015.60  2023-10-03 05:30:00   3064.90   2991.50  2023-10
47    AXISBANK   1041.05  2023-10-03 05:30:00   1044.70   1032.60  2023-10
48    HDFCBANK   1508.05  2023-10-03 05:30:00   1527.00   1506.00  2023-10
49  BAJAJ-AUTO   5016.45  2023-10-03 05:30:00   5073.00   4997.10  2023-10

        open    volume
0     596.60  15322196
1    7780.80    944555
2    3148.80   1007308
3     441.00   7481883
4    3534.20   1948148
5    3040.50   3254492
6     859.32   1168848
7    1164.97   8859056
8    1232.50   2162636
9     776.55   1099773
10   8289.00    454402
11    198.75  10830728
12   1436.05   4181867
13   2074.30    543387
14    918.25   4338272
15    632.60   6894577
16    406.45   2864052
17   1220.60   1622290
18    244.35  14885044
19   2490.00   1585626
20   5138.95    268482
21   1597.20   3436776
22   1920.46    591326
23    951.60  11131636
24   2418.00   2019899
25    826.00   2453090
26    137.90  19010910
27   1530.25   1083086
28   3426.90   1354075
29    297.05   9348540
30  10709.80    623006
31   1432.00   1442499
32   3166.10   1219145
33    129.00  18613557
34    634.45   3454441
35   1117.38   2065240
36   1159.55   1946966
37   1730.00   5534869
38   1938.00   2207907
39   2250.69    500130
40    189.30  22118500
41   1184.00   1581125
42    174.25  10514554
43   4524.80    543482
44   1302.15   1282289
45    483.10   4657602
46   3058.00    387906
47   1035.00  11589322
48   1527.00  19485847
49   5065.00    464531

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  50 non-null     object
 1   close   50 non-null     float64
 2   date    50 non-null     object
 3   high    50 non-null     float64
 4   low     50 non-null     float64
 5   month   50 non-null     object
 6   open    50 non-null     float64
 7   volume  50 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 3.3+ KB

In [10]:
num_duplicates = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [11]:
import yaml
import pandas as pd

def getDataFrame(path):
    data_files=getFiles(path)
    print(len(data_files))
    master_df=pd.DataFrame()
    for i in data_files:
        if i['type']=='yaml':
            with open(i['path'],'r') as file:
                data=yaml.safe_load(file)
            df=pd.DataFrame(data)
            if not master_df.empty:
                master_df=pd.concat([master_df,df],axis=0).reset_index(drop=True)
            else:
                master_df=df.copy(deep=True)
    master_df.shape
    return master_df
getDataFrame(r'D:\DS_Data Driven Stock Analysis\stock_data\2023-10')

20

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.90,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.50,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.50,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.90,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.20,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
995,HINDALCO,459.50,2023-10-31 05:30:00,465.00,453.25,2023-10,465.00,5236060
996,HEROMOTOCO,3088.35,2023-10-31 05:30:00,3139.60,3080.15,2023-10,3115.05,207132
997,AXISBANK,981.85,2023-10-31 05:30:00,998.00,978.00,2023-10,998.00,7816805
998,HDFCBANK,1476.50,2023-10-31 05:30:00,1504.00,1474.00,2023-10,1504.00,16317412
999,BAJAJ-AUTO,5314.05,2023-10-31 05:30:00,5366.15,5292.60,2023-10,5340.00,400987

In [12]:
stock_df=pd.DataFrame()
data_folders=getFolders('D:\\DS_Data Driven Stock Analysis\\stock_data')
for i in data_folders:
    try:
        print(i['path'])
        stock_df=pd.concat([stock_df,getDataFrame(i['path'])],axis=0).reset_index(drop=True)
    except Exception as e:
        print(f"error:{e}")
        continue
stock_df

D:\DS_Data Driven Stock Analysis\stock_data\2023-10
20
D:\DS_Data Driven Stock Analysis\stock_data\2023-11
21
D:\DS_Data Driven Stock Analysis\stock_data\2023-12
20
D:\DS_Data Driven Stock Analysis\stock_data\2024-01
22
D:\DS_Data Driven Stock Analysis\stock_data\2024-02
21
D:\DS_Data Driven Stock Analysis\stock_data\2024-03
19
D:\DS_Data Driven Stock Analysis\stock_data\2024-04
20
D:\DS_Data Driven Stock Analysis\stock_data\2024-05
22
D:\DS_Data Driven Stock Analysis\stock_data\2024-06
19
D:\DS_Data Driven Stock Analysis\stock_data\2024-07
22
D:\DS_Data Driven Stock Analysis\stock_data\2024-08
21
D:\DS_Data Driven Stock Analysis\stock_data\2024-09
21
D:\DS_Data Driven Stock Analysis\stock_data\2024-10
22
D:\DS_Data Driven Stock Analysis\stock_data\2024-11
14

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823

In [13]:
stock_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
14195    False
14196    False
14197    False
14198    False
14199    False
Length: 14200, dtype: bool

In [15]:
grouped_stock_df = stock_df.groupby('Ticker')
grouped_stock_dfs = {}

for name, group in grouped_stock_df:
    grouped_stock_dfs[name] = group
for i in grouped_stock_dfs:
    file_path = rf"D:\DS_Data Driven Stock Analysis\stock_csv_data\{i}.csv"
    print(file_path)
    grouped_stock_dfs[i].to_csv(file_path, index=False)

D:\DS_Data Driven Stock Analysis\stock_csv_data\ADANIENT.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\ADANIPORTS.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\APOLLOHOSP.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\ASIANPAINT.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\AXISBANK.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BAJAJ-AUTO.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BAJAJFINSV.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BAJFINANCE.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BEL.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BHARTIARTL.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BPCL.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\BRITANNIA.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\CIPLA.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\COALINDIA.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\DRREDDY.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\EICHERMOT.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\GRASIM.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\HCLTECH.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\HDFCBANK.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\HDFCLIFE.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\HEROMOTOCO.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\HINDALCO.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\HINDUNILVR.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\ICICIBANK.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\INDUSINDBK.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\INFY.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\ITC.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\JSWSTEEL.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\KOTAKBANK.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\LT.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\M&M.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\MARUTI.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\NESTLEIND.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\NTPC.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\ONGC.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\POWERGRID.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\RELIANCE.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\SBILIFE.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\SBIN.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\SHRIRAMFIN.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\SUNPHARMA.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TATACONSUM.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TATAMOTORS.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TATASTEEL.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TCS.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TECHM.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TITAN.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\TRENT.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\ULTRACEMCO.csv
D:\DS_Data Driven Stock Analysis\stock_csv_data\WIPRO.csv

In [36]:
sector_df = pd.read_csv("D:\\DS_Data Driven Stock Analysis\\Sector_data.csv")
sector_df['Ticker'] = sector_df['Symbol'].str.split(':', expand=True)[1].str.strip()
sector_df

,COMPANY,sector,Symbol,Ticker
0,ADANI ENTERPRISES,MISCELLANEOUS,ADANI ENTERPRISES: ADANIGREEN,ADANIGREEN
1,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS,ADANIPORTS
2,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP,APOLLOHOSP
3,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT,ASIANPAINT
4,AXIS BANK,BANKING,AXIS BANK: AXISBANK,AXISBANK
5,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO,BAJAJ-AUTO
6,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE,BAJFINANCE
7,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV,BAJAJFINSV
8,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL,BEL
9,BHARTI AIRTEL,TELECOM,BHARTI AIRTEL: AIRTEL,AIRTEL
10,BPCL,ENERGY,BPCL: BPCL,BPCL
11,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA,CIPLA
12,COAL INDIA,MINING,COAL INDIA: COALINDIA,COALINDIA
13,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY,DRREDDY
14,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT,EICHERMOT
15,GRASIM,TEXTILES,GRASIM: GRASIM,GRASIM
16,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH,HCLTECH
17,HDFC BANK,BANKING,HDFC BANK: HDFCBANK,HDFCBANK
18,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE,HDFCLIFE
19,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO,HEROMOTOCO
20,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO,HINDALCO
21,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR,HINDUNILVR
22,ICICI BANK,BANKING,ICICI BANK: ICICIBANK,ICICIBANK
23,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK,INDUSINDBK
24,INFOSYS,SOFTWARE,INFOSYS: INFY,INFY
25,IOC,ENERGY,IOC: IOC,IOC
26,ITC,FOOD & TOBACCO,ITC: ITC,ITC
27,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL,JSWSTEEL
28,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK,KOTAKBANK
29,L&T,ENGINEERING,L&T: LT,LT
30,M&M,AUTOMOBILES,M&M: M&M,M&M
31,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI,MARUTI
32,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND,NESTLEIND
33,NTPC,POWER,NTPC: NTPC,NTPC
34,ONGC,ENERGY,ONGC: ONGC,ONGC
35,POWER GRID,POWER,POWER GRID: POWERGRID,POWERGRID
36,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE,RELIANCE
37,SBI,BANKING,SBI: SBIN,SBIN
38,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE,SBILIFE
39,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN,SHRIRAMFIN
40,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA,SUNPHARMA
41,TATA CONSUMER,FMCG,TATA CONSUMER: TATACONSUMER,TATACONSUMER
42,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS,TATAMOTORS
43,TATA STEEL,STEEL,TATA STEEL: TATASTEEL,TATASTEEL
44,TCS,SOFTWARE,TCS: TCS,TCS
45,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM,TECHM
46,TITAN,RETAILING,TITAN: TITAN,TITAN
47,TRENT,RETAILING,TRENT: TRENT,TRENT
48,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO,ULTRACEMCO
49,WIPRO,SOFTWARE,WIPRO: WIPRO,WIPRO

In [49]:
result_df = pd.merge(stock_df,sector_df, on='Ticker', how='left',suffixes=('_stock', '_sector'))
result_df[result_df['COMPANY'].isna()]['Ticker'].unique()

array(['TATACONSUM', 'BHARTIARTL', 'ADANIENT', 'BRITANNIA'], dtype=object)

In [51]:
result_df2 = pd.merge(stock_df,sector_df, on='Ticker', how='right',suffixes=('_stock', '_sector'))
result_df2[result_df2['date'].isna()]['Ticker'].unique()

array(['ADANIGREEN', 'AIRTEL', 'IOC', 'TATACONSUMER'], dtype=object)

In [67]:
sector_df = pd.read_csv(r"D:\DS_Data Driven Stock Analysis\Sector_data.csv")

sector_df.loc[sector_df['COMPANY'] == 'TATA CONSUMER', ['COMPANY', 'sector', 'Symbol']] = [
    'TATA CONSUMER', 
    'FMCG', 
    'TATA CONSUMER: TATACONSUM'
]
sector_df.loc[sector_df['COMPANY'] == 'BHARTI AIRTEL', ['COMPANY', 'sector', 'Symbol']] = [
    'BHARTI AIRTEL', 
    'TELECOM', 
    'BHARTI AIRTEL: BHARTIARTL'
]
sector_df.loc[sector_df['COMPANY'] == 'IOC', ['COMPANY', 'sector', 'Symbol']] = [
    'BRITANNIA INDUSTRIES', 
    'FMCG', 
    'BRITANNIA INDUSTRIES: BRITANNIA'
]
sector_df.loc[sector_df['COMPANY'] == 'ADANI ENTERPRISES', ['COMPANY', 'sector', 'Symbol']] = [
    'ADANI ENTERPRISES',
    'MISCELLANEOUS',
    'ADANI ENTERPRISES: ADANIENT'
]
sector_df['Ticker'] = sector_df['Symbol'].str.split(':').str[1].str.strip()

sector_df

,COMPANY,sector,Symbol,Ticker
0,ADANI ENTERPRISES,MISCELLANEOUS,ADANI ENTERPRISES: ADANIENT,ADANIENT
1,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS,ADANIPORTS
2,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP,APOLLOHOSP
3,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT,ASIANPAINT
4,AXIS BANK,BANKING,AXIS BANK: AXISBANK,AXISBANK
5,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO,BAJAJ-AUTO
6,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE,BAJFINANCE
7,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV,BAJAJFINSV
8,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL,BEL
9,BHARTI AIRTEL,TELECOM,BHARTI AIRTEL: BHARTIARTL,BHARTIARTL
10,BPCL,ENERGY,BPCL: BPCL,BPCL
11,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA,CIPLA
12,COAL INDIA,MINING,COAL INDIA: COALINDIA,COALINDIA
13,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY,DRREDDY
14,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT,EICHERMOT
15,GRASIM,TEXTILES,GRASIM: GRASIM,GRASIM
16,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH,HCLTECH
17,HDFC BANK,BANKING,HDFC BANK: HDFCBANK,HDFCBANK
18,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE,HDFCLIFE
19,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO,HEROMOTOCO
20,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO,HINDALCO
21,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR,HINDUNILVR
22,ICICI BANK,BANKING,ICICI BANK: ICICIBANK,ICICIBANK
23,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK,INDUSINDBK
24,INFOSYS,SOFTWARE,INFOSYS: INFY,INFY
25,BRITANNIA INDUSTRIES,FMCG,BRITANNIA INDUSTRIES: BRITANNIA,BRITANNIA
26,ITC,FOOD & TOBACCO,ITC: ITC,ITC
27,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL,JSWSTEEL
28,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK,KOTAKBANK
29,L&T,ENGINEERING,L&T: LT,LT
30,M&M,AUTOMOBILES,M&M: M&M,M&M
31,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI,MARUTI
32,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND,NESTLEIND
33,NTPC,POWER,NTPC: NTPC,NTPC
34,ONGC,ENERGY,ONGC: ONGC,ONGC
35,POWER GRID,POWER,POWER GRID: POWERGRID,POWERGRID
36,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE,RELIANCE
37,SBI,BANKING,SBI: SBIN,SBIN
38,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE,SBILIFE
39,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN,SHRIRAMFIN
40,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA,SUNPHARMA
41,TATA CONSUMER,FMCG,TATA CONSUMER: TATACONSUM,TATACONSUM
42,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS,TATAMOTORS
43,TATA STEEL,STEEL,TATA STEEL: TATASTEEL,TATASTEEL
44,TCS,SOFTWARE,TCS: TCS,TCS
45,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM,TECHM
46,TITAN,RETAILING,TITAN: TITAN,TITAN
47,TRENT,RETAILING,TRENT: TRENT,TRENT
48,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO,ULTRACEMCO
49,WIPRO,SOFTWARE,WIPRO: WIPRO,WIPRO

In [68]:
sector_stock_df = pd.merge(stock_df,sector_df,how='inner',on='Ticker',suffixes=('_stock', '_sector'))
sector_stock_df.drop(['COMPANY','sector','Symbol'], axis=1,inplace=True)
sector_stock_df

,Ticker,close,date,high,low,month,open,volume
0,SBIN,602.95,2023-10-03 05:30:00,604.9,589.60,2023-10,596.60,15322196
1,BAJFINANCE,7967.60,2023-10-03 05:30:00,7975.5,7755.00,2023-10,7780.80,944555
2,TITAN,3196.25,2023-10-03 05:30:00,3212.5,3114.40,2023-10,3148.80,1007308
3,ITC,439.75,2023-10-03 05:30:00,442.9,439.25,2023-10,441.00,7481883
4,TCS,3513.85,2023-10-03 05:30:00,3534.2,3480.10,2023-10,3534.20,1948148
...,...,...,...,...,...,...,...,...
14195,HINDALCO,652.10,2024-11-22 05:30:00,657.3,647.40,2024-11,652.95,3586402
14196,HEROMOTOCO,4794.10,2024-11-22 05:30:00,4808.4,4742.00,2024-11,4778.40,394712
14197,AXISBANK,1142.40,2024-11-22 05:30:00,1147.9,1127.55,2024-11,1136.65,16687505
14198,HDFCBANK,1745.60,2024-11-22 05:30:00,1754.3,1729.55,2024-11,1743.55,12386806
14199,BAJAJ-AUTO,9481.65,2024-11-22 05:30:00,9602.9,9444.10,2024-11,9545.00,619823

In [70]:
stock_df.to_csv(r'D:\DS_Data Driven Stock Analysis\cleaned_data\all_stock_data.csv', index=False)
sector_df.to_csv(r'D:\DS_Data Driven Stock Analysis\cleaned_data\sector.csv', index=False)
sector_stock_df.to_csv(r'D:\DS_Data Driven Stock Analysis\cleaned_data\sector_stock_data.csv', index=False)